.Summary {
    max-width: 1330px;
    width: calc(100% - 90px);
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Summary > * {
    font-size: 18px;
}

.Summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    padding: 0 10px;
    margin: 10px 0;
    width: 100%;
}

.Summary-item__both{
    display: flex;
    align-items: center;
}

.Summary-item__icon {
    margin-right: 10px;
}

.Summary-item__note span{
    color: hsl(236.67deg 9.68% 63.53%);
}

.Summary--orange {
    color: hsl(0, 100%, 67%);
    background-color: hsl(6deg 100% 98.04%);
}

.Summary--yellow {
    color: hsl(39, 100%, 56%);
    background-color: hsl(41.54deg 100% 97.45%);
}

.Summary--green {
    color: hsl(166, 100%, 37%);
    background-color: hsl(173.33deg 52.94% 96.67%);
}

.Summary--blue {
    color: hsl(234, 85%, 45%);
    background-color: hsl(240deg 71.43% 97.25%);
}

button {
    border: none;
    cursor: pointer;

    color: #FFF;
    background-color: hsl(224, 30%, 27%);
    border-radius: 25px;
    padding: 10px 0;
}
